* {
    box-sizing: border-box;
}

.navbar {
    display: flex;
    position: relative;
    background-color: gray;
    margin: 0;
    padding: 0;
    border: 1px solid;
    border-width: 1px 0;
    justify-content: space-between;
}

.nav-li {
    display: flex;
}

.nav-li-items {
    padding: 10px;
}

.inner-nav {
    background-color:honeydew;
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
    border-width: 1px 0;
    border: 1px solid;
    justify-content: space-between;
}

.inner-li {
    display: flex;
    
}

.inner-li-items {
    margin: 6px;
    padding: 10px;

}

img {
   height: 50px;
   margin: 0;
   vertical-align: left;
   border-style: none;

}

.box {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr;

}

.header {
    display: block;
    text-align: center;
    background-color:white;
    height: 1em;
    
}

ul {
    list-style-type: none;
}

.cards {
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
}   

.white {
    background-color: wheat;
    
}

.blue {
    background-color: lightblue;
    
}

.black {
    background-color: lightgray;
    
}

.red {
    background-color: lightpink;
    
}

.green {
    background-color: lightgreen;
    
}

.lands {
    background-color: gold;
    
}